/* ------------------start-navbar------------------ */
.digital-agency{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
}

.nav-item{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}
/* ------------------end-navbar------------------ */


/* =========================start-row-1========================== */

.padding-row-1{
    padding-top: 100px;
}

.building-digital{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 100%;
    text-transform: capitalize;
}

.digital-agency-is-your{
    padding-top: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-transform: capitalize;
}

.contact-button-padding{
    padding-top: 39px;
}

.contact-button{
    padding-left: 35px;
    padding-top: 10px;
    padding-right: 35px;
    padding-bottom: 10px;
    background: #8EADD5;
    border-radius: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
    border: #FFFFFF;
}

/* ==========================end-row-1=========================== */








/* =========================start-row-2========================== */

.padding-row-2{
    padding-top: 160px;
}

/* ==========================end-row-2=========================== */







/* =========================start-row-3========================== */



/* ==========================end-row-3=========================== */






/* =========================start-row-4========================== */



/* ==========================end-row-4=========================== */





/* =========================start-row-5========================== */



/* ==========================end-row-5=========================== */


